src/shared_lib
Debug
Release
build
cmake-build-*
update_rdkit.sh
.env
.vscode
.vs
# not portable but I don't want to loose these 2
# CMakeSettings.json
# CMakePresets.json
.idea
out
.settings
eigen_include
.cache
